
.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/description.html

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

Image-Retrieval.iml

.idea/uiDesigner.xml

Results.html

results.csv

*.html
